@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <h3>Welcome to the official IIT temperature converter. </h3>
        <h3>Please, select an option on the navigation bar above, or on the options shown below.</h3>
    </div>
    <p><a asp-page="/c2f">Celsius to Fahrenheit</a>.</p>
    <p><a asp-page="/c2f">Fahrenheit to Celsius</a>.</p>
</div>
